@tailwind preflight;
@tailwind components;
@tailwind utilities;
:root {
  font-size: 16px;
  @apply tracking-normal bg-grey-lightest;
}

/* Color */

.bg-primary {
  background-color: #1c1b20;
}

.text-primary {
  color: #1c1b20;
}

.border-primary {
  border-color: #1c1b20;
}

.gradient {
  background: #12C2E9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(-144deg, #7D1EDC, #12C2E9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-144deg, #7D1EDC, #12C2E9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-bg {
  background-color: #1F9D55 !important;
}

.green-color {
  color: #1F9D55 !important;
}

.green-border {
  border-color: #1F9D55 !important;
}

p {
  max-width: 36em;
  line-height: 1.5;
}

/* buttons */

.btn {
  @apply no-underline text-sm font-semibold rounded px-8 py-3 leading-normal bg-primary text-white tracking-wide;
}

.btn-alternate {
  @apply ml-4 no-underline text-sm font-semibold rounded px-8 py-3 leading-normal bg-primary text-white;
}

.btn:hover {
  @apply shadow-lg;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.btn-container {
  @apply w-full flex flex-row items-center justify-center py-4;
}

.btn-container a {
  @apply text-xs mr-8;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-img {
  background-image: url("images/salads.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-2 {
  background-image: url("images/pie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  @apply relative text-white mr-4 text-xl;
}

/* container */

.container {
  margin: 0 auto;
  @apply w-full flex items-center justify-center flex-col text-left px-2;
}
@screen md {
  .container {
    @apply px-8 text-center;
  }
}
@screen xl {
  .container {
    @apply px-12 !important;
  }
}

.container-content {
  @apply text-left mt-2 pb-8 px-4 w-full text-base leading-normal;
}
@screen md {
  .container-content {
    @apply text-center;
  }
}
@screen lg {
  .container-content {
    @apply text-xl;
  }
}
.quote-container-content {
  @apply text-lg text-white text-left mt-16 mb-4 px-4 w-full;
}
.quote-container-author {
  @apply text-white text-base font-bold tracking-wide leading-tight mb-16;
}
@screen md {
  .quote-container-content {
    @apply px-8 text-center text-xl;
  }
  .quote-container-author {
    @apply mb-16 !important;
  }
}

/* Nav */

.nav {
  @apply w-full flex items-center justify-between flex-wrap bg-primary py-4 px-6 z-50 fixed shadow-lg;
}

.nav-brand-container {
  @apply flex items-center flex-no-shrink text-primary mr-6;
}

.nav-brand {
  @apply no-underline text-primary font-semibold text-xl text-white;
}

.nav-btn {
  @apply flex items-center px-3 py-2 rounded text-white bg-primary border border-white;
}

.hamburger-menu {
  @apply fill-current h-3 w-3;
}

.nav-link-container {
  @apply text-sm text-center w-full border-t-2 border-grey;
}

.nav-link {
  @apply no-underline block py-4 text-white font-semibold;
}

.nav-container {
  @apply flex bg-primary items-center justify-center text-center pt-2;
}

.nav-cta-container {
  @apply pt-0;
}

.nav-content-container {
  @apply w-full text-white;
}

.nav-cta {
  @apply mt-1 bg-primary border-2 border-white mr-2 w-full;
}

.nav-cta:hover {
  @apply green-bg text-white green-border;
}

@variants hover {
  .nav-btn {
    @apply shadow-lg;
  }
}

/* Home */

.header {
  @apply text-4xl text-white font-sans mb-8 flex flex-col items-center leading-none text-center w-full;
}

.header-icon {
  @apply mr-2 mb-4 inline-block w-24 h-24 rounded-full p-8 bg-white text-black shadow-lg;
}

@screen md {
  .header {
    @apply flex-row text-8xl;
  }
  .header-icon {
    @apply mr-12 mb-0 text-6xl;
    width: 8rem;
    height: 8rem;
  }
}

@screen lg {
  .header {
    @apply text-12xl;
  }
  .header-icon {
    font-size: 92px;
    width: 10rem;
    height: 10rem;
  }
}

@screen xl {
  .header {
    @apply flex items-center justify-center;
  }
}

.subtitle {
  @apply text-2xl text-white font-sans font-normal tracking-wide text-center;
}

@screen md {
  .subtitle {
    @apply text-6xl;
  }
}

.section-header {
  @apply text-center text-5xl tracking-wide text-black font-sans mb-4 pt-8;
}
@screen md {
  .section-header {
    @apply pt-16;
  }
}
/* Form */

form {
  @apply w-full;
}

.form-block {
  @apply mb-4;
}

.form-label {
  @apply text-left block text-sm text-grey-darkest tracking-wide font-bold mb-2;
}

.form-input {
  @apply bg-grey-lighter border-2 border-grey-lighter rounded w-full py-4 px-4 text-grey-darker leading-tight text-sm;
}

#contact .btn {
  @apply w-full py-3 green-bg;
}

.footer-container {
  @apply h-full flex items-center justify-center flex-col text-center px-4 pt-4 pb-0;
}

.footer-links {
  @apply flex flex-col no-underline;
}

.footer-text {
  @apply w-full text-sm text-white font-sans mb-4 leading-none text-center no-underline;
}

.onshore-footer-text {
  @apply text-white mb-4 text-xs;
}

.onshore-footer-text a {
  @apply text-white no-underline;
}

.label {
  @apply block uppercase tracking-wide text-white text-xs font-bold mb-2;
}

.input {
  @apply appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight;
}

/* Map */

.map-container {
  @apply w-full h-full mb-4 shadow-none;
}

.map-container iframe {
  @apply w-full;
}

/* Menu */

#menu {
  @apply bg-grey-lightest;
}

.menu-container {
  @apply text-left bg-white;
}

.menu-container-header {
  @apply w-full text-white green-bg p-6 mb-4;
}

.menu-container-content {
  @apply px-6;
}

.menu-item {
  @apply mb-4 pb-2 border-b-2 border-grey-lightest;
}

.menu-tab-container {
  @apply mt-2 w-full flex justify-between bg-grey-lightest pb-4;
}

.menu-icon-container {
  @apply block flex flex-col items-center justify-center no-underline text-center overflow-hidden green-color;
  line-height: inherit;
}

.menu-icon {
  @apply green-color border-2 green-border p-2 rounded-full no-underline text-xs mb-2;
}

.menu-icon:hover {
  @apply green-bg text-white;
}

.menu-tab {
  @apply w-full green-color flex flex-col;
}


.menu-item-title {
  @apply text-grey-darkest mb-1;
}
.menu-item-description {
  @apply font-normal;
}

.menu-item-price {
  @apply ml-1 font-bold text-sm text-grey-dark;
}

@screen md {
  .footer-text {
    @apply text-left;
  }
  #menu .container {
    @apply flex-col;
  }
  .menu-tab-container {
    @apply mx-8;
  }
  .menu-col-l {
    @apply mr-8;
  }
  .menu-container {
    @apply font-bold tracking-wide;
  }
  .menu-container-content {
    @apply flex px-6;
  }
  .menu-container-header {
    @apply w-full flex-grow tracking-wide;
  }
  .menu-item-price {
    @apply ml-1;
  }
}

/* contact */

.contact {
  @apply p-8 bg-white mb-8;
}

@screen md {
  .contact {
    @apply pr-8 pb-0;
  }
}
.quote-container-author {
  @apply mb-8;
}
@screen md {
  #quote .container {
    @apply flex-col;
  }
}
@screen md {
  /* btn  */
  .btn-container {
    @apply w-1/2 mx-auto text-center;
  }
  .btn-container a {
    @apply text-center text-sm;
  }
  /* footer */
  .footer-text {
    @apply text-base mb-4;
  }
  .footer-container {
    @apply flex-row justify-between px-8 pt-6;
  }
  .footer-links {
    @apply text-left font-bold tracking-wide;
  }
  .onshore-footer-text {
    @apply text-sm self-end;
  }
  /* form  */
  .form {
    @apply mb-0;
  }
  /* container */
  .container {
    @apply px-2;
  }
  .map-container {
    @apply mb-0 shadow-md;
  }
  /* Nav */
  .nav-container {
    @apply pt-0
  }
  .nav-link {
    @apply mr-12;
  }
  .nav-link-container {
    @apply border-t-0 border-transparent;
  }
}

@screen lg {
  /* container */
  .container {
    @apply flex-row;
  }
  /* nav */
  .hider {
    @apply hidden;
  }
  .nav-link {
    @apply inline-block mt-0;
  }
  .nav-cta-container {
    @apply content-end;
  }
  .nav-cta {
    @apply mt-0;
  }
  .nav-content-container {
    @apply block flex items-center w-auto;
  }
  .nav-link-container {
    @apply flex-grow;
  }
}
